<!DOCTYPE html>
<html>
    <head>
        <title>{{ genre }} - IntelligentRead</title>
        <link rel="icon" type="image/ico" sizes="16x16" href="{{ url_for('static', filename='logo.jpg') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='header.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='genre.css') }}">

    </head>
    <body>
        <div class="header">
            <a href="/" class="logo-title-link">
                <div class="logo-title">
                    <div class="logo">
                        <img class="intelligentread-logo" src="{{ url_for('static', filename='logo.jpg') }}">
                    </div>
                    <div class="title">
                        <p class="intelligentread-title">Intelligent<span class="read">Read</span></p>
                    </div>
                </div>
            </a>
        </div>
        <div class="genre-page-container">
            <div class="heading">
                <p class="genre-heading"> "{{ genre }}"</p>
            </div>
        

        {% if books.empty %}
            <p class="no-results">❌ No books found in this genre.</p>
        {% else %}
            <ol class="genre-book-list">
                {% for row in books.itertuples() %}
                <li class="genre-book-item">
                    <div class="rec-flex">
                        <div class="rec-thumbnail">
                            <img src="{{ row.thumbnail_url }}" alt="Cover of {{ row.title }}">
                        </div>
                        <div class="rec-info">
                            <h3>
                                <a href="{{ url_for('book_detail', title=row.title) }}">
                                    {{ row.title }}
                                </a>
                            </h3>
                            <p><strong>Author:</strong> {{ row.authors }}</p>
                            <p><strong>Rating:</strong> {{ row.average_rating }}</p>
                            
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ol>
        {% endif %}
    </div>
    </body>
</html>